<div class="page cxy">
  <div class="gallery">
    <div class="df pr" (mouseenter)="showPreviewArrows = true" (mouseleave)="showPreviewArrows = false">
      <div [class.preview-arrow-visible]="showPreviewArrows" class="preview-arrow left-preview-arrow cxy arrow-circle" (click)="movePreviewImage(-1)">
        <img class="arrow-image" src="assets/icons/left-arrow.svg">
      </div>
      <img class="preview-image" [src]="selectedImage.preview" (click)="showLightbox = true">
      <div [class.preview-arrow-visible]="showPreviewArrows" class="preview-arrow right-preview-arrow cxy arrow-circle" (click)="movePreviewImage(1)">
        <img class="arrow-image" src="assets/icons/right-arrow.svg">
      </div>
      <div class="preview-image-counter">{{gallery.indexOf(selectedImage) + 1}} of {{gallery.length}}</div>
    </div>
    <div (mouseenter)="showThumbnailArrows = true" (mouseleave)="showThumbnailArrows = false" class="thumbnails cx">
      <div class="arrow cxy" (click)="moveThumbnailImages(-1)">
        <div [class.preview-arrow-visible]="showThumbnailArrows" class="arrow-circle cxy">
          <img class="arrow-image" src="assets/icons/left-arrow.svg">
        </div>
      </div>
      <div class="thumbnail" *ngFor="let img of thumbnailImages" (click)="selectImage(img)">
        <img class="thumbnail-image" [class.thumbnail-image-selected]="selectedImage == img" [src]="img.thumb">
      </div>
      <div class="arrow cxy" (click)="moveThumbnailImages(1)">
        <div [class.preview-arrow-visible]="showThumbnailArrows" class="arrow-circle cxy">
          <img class="arrow-image" src="assets/icons/right-arrow.svg">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cxy" *ngIf="showLightbox">
  <div class="lightbox-overlay" (click)="showLightbox = false"></div>
  <div class="lightbox-content df">
    <img class="lightbox-image" [src]="selectedImage.full">
    <div class="lightbox-messages">
      <div class="exit-lightbox" (click)="showLightbox = false">
        <img src="assets/icons/close.svg">
      </div>
      <div class="df">
        <img [hidden]="selectedImage.liked" (click)="likeToggle(selectedImage)" class="like" src="assets/icons/heart-emty.svg">
        <img [hidden]="!selectedImage.liked" (click)="likeToggle(selectedImage)" class="like" src="assets/icons/heart-fill.svg">
        <div class="pl-1 cy">
          Image {{gallery.indexOf(selectedImage) + 1}} of {{gallery.length}}
        </div>
      </div>
      <div class="comment-area">
        <textarea #area class="comment" placeholder="Comment" [(ngModel)]="commentText" (keyup)="checkNewRow(area)" (keydown)="checkEnter($event, area)"></textarea>
        <div class="comment-send" (click)="sendComment(area)">
          <img class="image-send" src="assets/icons/send.svg">
        </div>
      </div>
      <div>
        <div class="mt-1" *ngFor="let comment of getComments()">
          <div class="comment-title">{{comment.user + ' at ' + getDate(comment.date)}}</div>
          <textarea #viewArea readonly class="comment view-comment" [value]="comment.text" [ngStyle]="getCommentHeight(viewArea, comment.text)"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
